.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 15px 15px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
    border: 1px solid black;
    width: 400px;
}

.restaurant-card {
    background-color: lightgray;
    width: 200px;
    height: 100%;
    padding: 5px;
    margin-inline: 2px;
}

.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-container {
    padding-top: 10px;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    
}

.res-image {
    width: 100%;
}

.top-rated {
    margin: 10px;
}